ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=localhost;Port=5433;Database=josephquiz;Username=postgres;Password=postgres
Cors__AllowedOrigins__0=http://localhost:4200
Cors__AllowedOrigins__1=https://joseph-quiz.vercel.app
JOSEPHQUIZ_DB=Host=localhost;Port=5433;Database=josephquiz;Username=postgres;Password=postgres
GEMINI__ApiKey=
